/* mise en page de l'accueil */
body{
    margin: 1%;
}
ul{
    list-style-type: none;
    background-color: black; 
    display: flex;
    padding: 15px 15px 15px 35px;
}
nav a, footer a{
    color: white;
    padding: 3px;
}
a:hover{
    color: #3a8c5f;
}
hr{
    opacity: 20%;
}
aside{
    background-color: #CCCCCC;
    height: 500px;
    margin-left: 1%;
}
.col1{
    float: left;
    width: 70%;
}
.col2{
    float: right;
    width: 30%;
    margin-bottom: 0.5%;
}
footer{
    clear: both;
}
figure{
    display: flex;
}

/* mise en page du formulaire */
form{
    width: 50%;
    padding: 1%;
}
fieldset{
    margin: 2%;
}
label{
    display: block;
    padding: 1%;
}

/* Mise en page du t'ableau */

td, th{
    border: 1px solid  rgba(128, 128, 128, 0.4);
    padding: 10px;
}
th{
    border-bottom: 3px solid rgba(129, 129, 129, 0.4);
}
table{
    border-collapse: collapse;
    width: 900px;
    margin: 10px;
}
td img{
    border: 2px solid rgba(204, 204, 204, 0.3);
    width: 100px;
}
